<div class="details" *ngIf="title" #details>
  <h1 class="name">{{ title.name | uppercase }}</h1>

  <div class="title-info">
    <p class="text-muted">{{ title.genre }} &sdot; {{ title.year }}</p>

    <h2>
      <i class="fas fa-star text-yellow"></i>
      {{ title.stars }}/{{ dbService.MAX_STARS }}
    </h2>
  </div>

  <div class="scenes">
    <img
      *ngFor="let scene of scenes"
      [src]="scene.url"
      [@sceneAnimation]="scene.state"
    />
  </div>

  <div class="section">
    <h2>Director</h2>

    <p class="paragraph">{{ title.director }}</p>
  </div>

  <div class="section">
    <h2>Storyline</h2>

    <p class="paragraph">{{ title.description }}</p>
  </div>

  <div class="section">
    <h2>JSON</h2>

    <pre>{{ title | json }}</pre>
  </div>
</div>
