<nav class="sidebar">
  <ul>
    <li class="sidebar-item">
      <a class="sidebar-user" routerLink="">
        <i class="fas fa-eye"></i><span>Username</span>
      </a>
    </li>

    <li class="sidebar-divider">Menu</li>

    <li class="sidebar-item">
      <a routerLink="/home" routerLinkActive="active">
        <i class="fas fa-home"></i><span>Home</span>
      </a>
    </li>

    <li class="sidebar-item">
      <a routerLink="/community" routerLinkActive="active">
        <i class="fas fa-shield-alt"></i><span>Community</span>
      </a>
    </li>

    <li class="sidebar-item">
      <a routerLink="/discover" routerLinkActive="active">
        <i class="fas fa-compass"></i><span>Discover</span>
      </a>
    </li>

    <li class="sidebar-item">
      <a routerLink="/awards" routerLinkActive="active">
        <i class="fas fa-medal"></i><span>Awards</span>
      </a>
    </li>

    <li class="sidebar-item">
      <a routerLink="/celebs" routerLinkActive="active">
        <i class="fas fa-user"></i><span>Celebs</span>
      </a>
    </li>

    <!-- <li class="sidebar-divider">Library</li>

    <li class="sidebar-item">
      <a routerLink="/recent" routerLinkActive="active">
        <i class="fas fa-clock"></i><span>Recent</span>
      </a>
    </li>

    <li class="sidebar-item">
      <a routerLink="/top-rated" routerLinkActive="active">
        <i class="fas fa-star"></i><span>Top Rated</span>
      </a>
    </li>

    <li class="sidebar-item">
      <a routerLink="/downloaded" routerLinkActive="active">
        <i class="fas fa-download"></i><span>Downloaded</span>
      </a>
    </li> -->

    <li class="sidebar-divider">Category</li>

    <li class="sidebar-item">
      <a routerLink="/movie" routerLinkActive="active">
        <i class="fas fa-film"></i><span>Movie</span>
      </a>
    </li>

    <li class="sidebar-item">
      <a routerLink="/tv-show" routerLinkActive="active">
        <i class="fas fa-ticket-alt"></i><span>TV - Show</span>
      </a>
    </li>

    <li class="sidebar-item">
      <a routerLink="/anime" routerLinkActive="active">
        <i class="fas fa-video"></i><span>Anime</span>
      </a>
    </li>

    <li class="sidebar-divider">General</li>

    <li class="sidebar-item">
      <a routerLink="/settings" routerLinkActive="active">
        <i class="fas fa-cog"></i><span>Settings</span>
      </a>
    </li>

    <li class="sidebar-item">
      <a routerLink="">
        <i class="fas fa-sign-out-alt"></i><span>Log Out</span>
      </a>
    </li>
  </ul>
</nav>
